
  <div class="form-group">
    <h4 style="padding-bottom: 8px;">Request an Invitation</h4>
  </div>


  <%= form_for @invitation_request do |f| %>
    <p>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name, :size => 30, :class => "form-control" %>
    <br />

    <%= f.label :email, "E-mail Address:" %>
    <%= f.text_field :email, :size => 30, :class => "form-control" %>
    <br />

    <%= f.label :memo, "Sentence about you, LinkedIn (or other website) URL:" %>
    <%= f.text_field :memo, :size => 30, :class => "form-control" %>
    <br />
    <label></label>
    <span class="na">URL to verify you (Personal website, Github account,
      etc.)</span>
    </p>

    <p>
    <%= f.submit "Request Invitation" %>
    </p>
  <% end %>

