<div class="container overall signup">


  The UpTrade is currently in beta. If you are an existing member, you can login below. If you would like to become a member to vote, comment, and submit stories please request an invite (also below). 
  </div>
<div class="container">
<div class="col-md-6">
    <h4>Login</h4>
<br>
  <%= form_tag login_url do %>
    <div class="form-group">
      <label for="inputEmail" class="col-xs-1 control-label" <%= label_tag :email, "E-mail or Username:" %> </label>
      <input type="text" class="form-control" id=<%= text_field_tag :email%>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1" class="col-xs-1 control-label" <%= label_tag :password, "Password:" %> </label>
      <input type="password" class="form-control" id=<%= password_field_tag :password%>
    </div>
    <%= submit_tag "Login", :class => "btn btn-default" %>
    <% end %>

    <p>
      Forgot your password? <%= link_to "Reset your password",
      forgot_password_url %>.
    </p>
</div>
<div class="col-md-6">
  
  
<%= render "invitations/build" %>

    </div>
  </row>
    <% if @referer.present? %>
      <%= hidden_field_tag :referer, @referer %>
    <% end %>

</div>
</div>
